body { padding-top: 70px; }

.label-as-badge {
    border-radius: 1em;
}

#gotop-right {
    display: none;
    position: fixed;
    right: 10px;
    top: 50%;
    font-size: 2em;
    z-index: 100;
}
#gotop-right a {
	color: grey;
}

#gotop-left {
    display: none;
    position: fixed;
    left: 10px;
    top: 50%;
    font-size: 2em;
	z-index: 100;
}

#gotop-left a {
	color: grey;
}

.holidayBadge {
    margin-left: 0.5em;
}

.roomsBadge {
    margin-top: 0.6em;
}