body { padding-top: 70px; }

.label-as-badge {
    border-radius: 1em;
}

#gotop-right {
    display: none;
    position: fixed;
    right: 2em;
    top: 50%;
    font-size: 2em;
    z-index: 100;
}

#gotop-left {
    display: none;
    position: fixed;
    left: 2em;
    top: 50%;
    font-size: 2em;
	z-index: 100;
}